{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Wish List</h1>
    {% if lists %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Desctription</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for list in lists %}
        <tbody>
            <tr>
                <td>{{list.description}}</td>
                <td><a href="{% url 'lists_delete' list.id %}">X</a></td>
            </tr>
        </tbody>
        {% endfor%}
    </table>

    {% else %}

    <h3>No Wish Items Exist</h3>

    {% endif %}
    <hr>
<a href="{% url 'lists_create' %}" class="pure-button">Add</a>
</div>
</body>
</html>

